

a {
    text-decoration: none;
    color: #E9C9D6;
  }
  
  a:hover {
    color: #e24d55;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  .seven h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    /* 將字體粗體 */
    color: #636363;
    letter-spacing: 1px;
    text-transform: uppercase;
  
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
  }
  
  .seven h1:after,
  .seven h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #B0A5C6;
    border-top: 1px solid #B0A5C6;
    height: 5px;
    background-color: #f8f8f8;
  }
    /*--------------------------------------------------------------
    # modal
    --------------------------------------------------------------*/

  /* 在样式表中定义模态框按钮的共同样式 */
.modal-footer .btn {
  background-color: #E9C9D6; /* 统一按钮背景颜色 */
  border:none;
  color: white; /* 统一文字颜色 */
}

/* 鼠标悬停时的样式 */
.modal-footer .btn:hover {
  background-color: #D89AB5; /* 悬停时背景颜色 */
}

  /*--------------------------------------------------------------
    # Breadcrumbs
    --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 13px 0;
    background-color: rgba(175, 162, 199, 0.865);
    min-height: 30px;
    position: relative;
    z-index: 2;
  }
  
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6b7b8d;
    content: "/";
  }
  
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 58px;
    }
  
    .breadcrumbs .d-flex {
      display: block !important;
    }
  
    .breadcrumbs h2 {
      margin-bottom: 10px;
    }
  
    .breadcrumbs ol {
      display: block;
    }
  
    .breadcrumbs ol li {
      display: inline-block;
    }
  }
  marquee {
    font-size: 20px;
    background-color: #ffffffc1;
    color: #333; /* 修改文字颜色 */
    padding: 10px; /* 调整内边距 */
    width: 65%; /* 调整宽度 */
    margin: 0 auto; /* 设置左右居中 */
    border-radius: 20px; /* 调整圆角 */
    text-align: center; /* 文字居中 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    margin-top: -20px;
    margin-bottom: 15px;
    margin-left: -260px;
  }

  marquee span {
    color: #666768;
    font-weight: 600;
  }
  
  marquee span:before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    position: relative;
    top: -2px; /* 调整位置 */
    vertical-align: middle; /* 垂直居中 */
    background-color: #fff; /* 修改颜色 */
    margin: 0 12px; /* 调整间距 */
    border-radius: 50%; /* 将圆点设置为圆形 */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* 添加阴影效果 */
  }
  /*--------------------------------------------------------------
# insert_group_form
--------------------------------------------------------------*/
.edit_like_shop_button {
  position: absolute; /* 或者使用 absolute */
  top: 25px; /* 設置相應的位置 */
  right: 20px; /* 設置相應的位置 */
  z-index: 996; /* 設置一個足夠高的 z-index 值 */
  button{
    background-color: #E9C9D6;
    color: white;
    cursor: pointer; /* 让鼠标在按钮上显示指针 */
  }
  button:hover {
    background-color: #e2b4c8; /* 鼠标悬停时的背景颜色 */
    color:white;
  }
  
}
  
  /*--------------------------------------------------------------
    # Back to top button
    --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #E9C9D6;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #e1444d;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  
  
  /*--------------------------------------------------------------
    # Hero Section
    --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    margin-top: -20px;
    background-color: #f4f4f477;
  }
  
  
  .profile-picture {
    border-radius: 100%;
    overflow: hidden;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  .big-profile-picture {
    margin: 0 auto;
    border: 5px solid #b0a5c6a8;
    width: 150px;
    height: 150px;
  }
  
  #hero h2 {
    color: #000000;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
  }
  
  #hero p {
    animation-delay: 0.4s;
    margin: 0 auto 0px auto;
    color: #000000;
  }
  
  
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 30px;
    transition: 0.5s;
    line-height: 1;
    color: #ffffff;
    animation-delay: 0.8s;
    background: #E9C9D6;
  }
  
  
  
  @media (max-width: 992px) {
    #hero {
      height: 100vh;
    }
  
    #hero .carousel-container {
      top: 8px;
    }
  }
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 28px;
    }
  }
  
  @media (min-width: 1024px) {
  
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
      width: 5%;
    }
  }
  
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
  }
  
  
  .cardtext .text {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  
  
  .card-text .content {
    min-height:100%;
    height:100%;
    background:white;
    position:relative;
    z-index:0;
    h1 {
      padding:75px 0 30px 0;
      text-align:center;
      font-size:30px;
      line-height:30px;
    }
    .buttons {
      max-width:800px;
      margin:0 auto;
      padding:0;
      .button {
        display:inline-block;
        text-align:center;
        padding:10px 15px;
        margin:10px;
        font-size:10px;
        color: #ffffff;
        background-color:#c3b7dc;
        border-radius:20px;
        box-shadow:0 1px 2px rgba(0,0,0,.3);
        cursor:pointer;
        &:hover {
          color:rgb(255, 255, 255);
          background:#E9C9D6;
        }
      }
    } 
  }
  
  
  /*--------------------------------------------------------------
    # nav2
    --------------------------------------------------------------*/
  
  @import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400';
  /* colors */
  /* tab setting */
  /* breakpoints */
  /* selectors relative to radio inputs */
  
  .tabs {
    margin-left: auto; 
    margin-right: auto;
    position: relative;
    background: white;
    margin-top: 30px;
    padding: 20px;
    padding-bottom: 80px;
    width: 80%;
    height: 250px;
    border-radius: 5px;
    min-width: 240px;
  }
  
  
  .tabs input[name=tab-control] {
    display: none;
  }
  
  .tabs .content section h2,
  #subject ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: #428BFF;
  }
  
   #subject ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  
   #subject ul li {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
  }
  
  #subject ul li label {
    transition: all 0.3s ease-in-out;
    font-size: 0.6cm;
    color: #c3b7dc;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  #subject ul li label br {
    display: none;
  }
  
  #subject ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;
  }
  
  #subject ul li label:hover,
  #subject ul li label:focus,
  #subject ul li label:active {
    outline: 0;
    color: #E9C9D6;
  }
  
  #subject ul li label:hover svg,
  #subject ul li label:focus svg,
  #subject ul li label:active svg {
    fill: #bec5cf;
  }
  
  .tabs .slider {
    position: relative;
    width: 25%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  }
  
  
  
  .tabs .content {
    margin-top: 30px;
  }
  
  .tabs .content section {
    display: none;
    -webkit-animation-name: content;
    animation-name: content;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    line-height: 1.4;
  }
  
  .tabs .content section h2 {
    color: #E9C9D6;
    display: none;
  }
  
  .tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #E9C9D6;
    margin-top: 5px;
    left: 1px;
  }
  
  
  
  @media (max-width: 600px) {
    .tabs input[name=tab-control]:nth-of-type(1):checked~#subject ul>li:nth-child(1)>label {
      background: rgba(0, 0, 0, 0.08);
    }
  }
  
  .tabs input[name=tab-control]:nth-of-type(1):checked~.slider {
    transform: translateX(0%);
  }
  
  .tabs input[name=tab-control]:nth-of-type(1):checked~.content>section:nth-child(1) {
    display: block;
  }
  
  .tabs input[name=tab-control]:nth-of-type(2):checked~#subject ul>li:nth-child(2)>label {
    cursor: default;
    color: #E9C9D6;
  }
  
  .tabs input[name=tab-control]:nth-of-type(2):checked~#subject ul>li:nth-child(2)>label svg {
    fill: #E9C9D6;
  }
  
  @media (max-width: 600px) {
    .tabs input[name=tab-control]:nth-of-type(2):checked~#subject ul>li:nth-child(2)>label {
      background: rgba(0, 0, 0, 0.08);
    }
  }
  
  .tabs input[name=tab-control]:nth-of-type(2):checked~.slider {
    transform: translateX(100%);
  }
  
  .tabs input[name=tab-control]:nth-of-type(2):checked~.content>section:nth-child(2) {
    display: block;
  }
  
  .tabs input[name=tab-control]:nth-of-type(3):checked~#subject ul>li:nth-child(3)>label {
    cursor: default;
    color: #E9C9D6;
  }
  
  .tabs input[name=tab-control]:nth-of-type(3):checked~#subject ul>li:nth-child(3)>label svg {
    fill: #E9C9D6;
  }
  
  @media (max-width: 600px) {
    .tabs input[name=tab-control]:nth-of-type(3):checked~#subject ul>li:nth-child(3)>label {
      background: rgba(0, 0, 0, 0.08);
    }
  }
  
  .tabs input[name=tab-control]:nth-of-type(3):checked~.slider {
    transform: translateX(200%);
  }
  
  .tabs input[name=tab-control]:nth-of-type(3):checked~.content>section:nth-child(3) {
    display: block;
  }
  
  .tabs input[name=tab-control]:nth-of-type(4):checked~#subject ul>li:nth-child(4)>label {
    cursor: default;
    color: #E9C9D6;
  }
  
  .tabs input[name=tab-control]:nth-of-type(4):checked~#subject ul>li:nth-child(4)>label svg {
    fill: #E9C9D6;
  }
  
  @media (max-width: 600px) {
    .tabs input[name=tab-control]:nth-of-type(4):checked~#subject ul>li:nth-child(4)>label {
      background: rgba(0, 0, 0, 0.08);
    }
  }
  
  .tabs input[name=tab-control]:nth-of-type(4):checked~.slider {
    transform: translateX(300%);
  }
  
  .tabs input[name=tab-control]:nth-of-type(4):checked~.content>section:nth-child(4) {
    display: block;
  }
  
  @-webkit-keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
  
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
  
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  @media (max-width: 1000px) {
    .tabs #subject ul li label {
      white-space: initial;
    }
  
    .tabs #subject ul li label br {
      display: initial;
    }
  
    .tabs #subject ul li label svg {
      height: 1.5em;
    }
  }
  
  @media (max-width: 600px) {
    .tabs #subject ul li label {
      padding: 5px;
      border-radius: 5px;
    }
  
    .tabs #subject ul li label span {
      display: none;
    }
  
    .tabs .slider {
      display: none;
    }
  
    .tabs .content {
      margin-top: 20px;
    }
  
    .tabs .content section h2 {
      display: block;
    }
  }
    /*--------------------------------------------------------------
    # 新增商品
    --------------------------------------------------------------*/

.addgoods .container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 10px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 900px;
    margin-left: -270px;
  }
  
  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #E9C9D6;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
    background: #E9C9D6;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
    text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }
  /*商品明細*/
  #app{
    height: 400px;
    overflow-y: auto;
  }
#app .table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}

.col-sm-4.hidden-xs img {
  max-width: 100%; /* 最大宽度为父容器的宽度 */
  height: auto; /* 自适应高度，保持图片比例 */
}

#cart{
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  font-size: 0.4cm;
  overflow: scroll;
}
@media screen and (max-width: 1000px) {
  #app table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }

  #app .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }

  #app .actions .btn-info {
    float: left;
  }

  #app .actions .btn-danger {
    float: right;
  }

  #app table#cart thead {
    display: none;
  }

  #app table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
  }

  #app table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }

  #app table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }

  #app table#cart tfoot td {
    display: block;
  }

  #app table#cart tfoot td .btn {
    display: block;
  }
}

  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    padding-bottom: 40px;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #e6636a;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #4D96C2;
  }
  @media (min-width: 900px) {
    .small {
      width: 50px;
      
      position: fixed;
      top: 200px;
      left: 70px;
      height: 100%; /* 保持满屏高度 */
      overflow-y: auto; /* 添加纵向滚动条 */
      z-index: 999; /* 确保菜单在页面上方 */
    }
  
    .list-group {
      width: 100%; /* 确保菜单占满父容器宽度 */
      max-height: 100%; /* 防止菜单高度超过屏幕高度 */
      overflow-y: auto; /* 添加纵向滚动条 */
      .list-group-item{
      background-color: #E9C9D6;
      color:#FFF
      }
      .list-group-item:hover{
        background-color: #e2b4c8;
        color:#FFF
        }
    }
  }
  
    /*--------------------------------------------------------------
  # 待上架商品
  -*/
  .waiting .card-head {
    display: grid; /* 使用 Grid 布局 */
    place-items: center; /* 在容器中居中 */
    overflow: hidden;
    box-sizing: content-box;
    height: 200px; /* 设置外框的高度 */
  }
  
  .waiting .card-head img {
    position: absolute;
    max-width: 100%; /* 图片的最大宽度为外框宽度 */
    height: auto; /* 自适应高度 */
  }
  .waiting2 .card-head {
    display: grid; /* 使用 Grid 布局 */
    place-items: center; /* 在容器中居中 */
    overflow: hidden;
    box-sizing: content-box;
    height: 200px; /* 设置外框的高度 */
  }
  
  .waiting2 .card-head img {
    position: absolute;
    max-width: 100%; /* 图片的最大宽度为外框宽度 */
    height: auto; /* 自适应高度 */
  }
  .waiting3 .card-head {
    display: grid; /* 使用 Grid 布局 */
    place-items: center; /* 在容器中居中 */
    overflow: hidden;
    box-sizing: content-box;
    height: 200px; /* 设置外框的高度 */
  }
  
  .waiting3 .card-head img {
    position: absolute;
    max-width: 100%; /* 图片的最大宽度为外框宽度 */
    max-height:200px ; /* 自适应高度 */
  }
  
  
  
  
  /*--------------------------------------------------------------
  # 商品
  -*/
  
  .owl-carousel .owl-wrapper-outer {  
    overflow-y: auto;
    overflow-x: hidden;
    transition: max-height 0.3s ease;
  }
  .owl-carousel .owl-item {
    float: left;
  }
  
  @media(min-width: 920px) {

    /* Styling Next and Prev buttons */
    .item .col-sm-10 {
      width: 300px;
      height: 280px;
  
    }
  
    .item .card {
      border-radius: 10%;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
      border: none;
    }
  
    .item .card .card-header {
      padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
      margin-bottom: 0;
      color: var(--bs-card-cap-color);
      background-color: var(--bs-card-cap-bg);
      border-bottom: none;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      /* 设置与.card相同的边框半径 */
    }
  
  }
  
  @media(max-width: 780px) {
  
    .item .col-sm-10 {
      width: 90%;
      /* 將卡片寬度設置為100%，以充分利用小螢幕的寬度 */
      height: 170px;
      /* 自動調整高度，以適應內容的大小 */
    }
  
    .item .card {
      border-radius: 0;
      /* 移除邊框半徑 */
      box-shadow: none;
      /* 移除陰影 */
      border: 1px solid #ddd;
      /* 添加細邊框 */
    }
  
    .item .card .card-header {
      border-radius: 0;
      /* 移除卡片標頭的邊框半徑 */
    }
  
    .item .col-sm-10 .card .card-body {
      font-size: 0.4cm;
    }
  }
  .part2 .card.border-secondary.mb-12{
    max-height: 250px;
    margin-bottom: 50px;
    border-radius: 10px;
  }
  .part2 .card.border-secondary.mb-12 .card-body{
    max-height: 200px;
    position: relative; /* 让覆盖层和按钮相对于这个元素定位 */
    overflow: hidden;
    #overlay {
    position: absolute;
    bottom: 0;
    left: 0; /* 从左侧开始，使得按钮和覆盖层都贴近左侧边界 */
    width: 100%;
    height: 15px; /* 設置覆蓋層高度 */
    background-color: rgba(255, 255, 255, 0.8); /* 設置覆蓋層顏色 */
  }
  }
  .card.border-secondary.mb-12 .card-body .card-text {
    color: #000000;
  }
  
  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  .contact .info {
    width: 100%;
    background: #fff;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #4D96C2;
    float: left;
    width: 44px;
    height: 44px;
    background: #edeff1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #4D96C2;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #8795a4;
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #4D96C2;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    background: #fff;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #E9C9D6;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #E9C9D6;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #e24d55;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  #btn1 .btn-toggle {
    margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.7rem;
    width: 3rem;
    border-radius: 1.9rem;
    color: #45659c;
    background-color: #b6cffb;
  }
  #btn1 .btn-toggle:before,
   #btn1 .btn-toggle:after {
    line-height: 1.5rem;
    width: 5rem;
    text-align: center;
    font-weight: 650;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
  }
   #btn1 .btn-toggle:before {
    content: '公開';
    left: -5rem;
  }
   #btn1 .btn-toggle:after {
    content: '不公開';
    right: -5.5rem;
    opacity: 0.5;
  }
   #btn1 .btn-toggle > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #ffd5d5;
    transition: left 0.25s;
    padding: 0%;
  }
  
  #btn1 .btn-toggle.active > .handle {
    left: 1.6875rem;
    transition: left 0.25s;
  }
  
  #btn1 .btn-toggle.active:before {
    opacity: 0.5;
  }
  #btn1 .btn-toggle.active:after {
    opacity: 1;
  }
  #btn1 .btn-toggle.btn-sm:before {
    text-align: right;
  }
   #btn1 .btn-toggle.btn-sm:after {
    text-align: left;
    opacity: 0;
  }
   #btn1 .btn-toggle.btn-sm.active:before {
    opacity: 0;
  }
  #btn1 .btn-toggle.btn-sm.active:after {
    opacity: 1;
  }
  
  #btn1 .btn-toggle:before,
  #btn1 .btn-toggle:after {
    color: #6b7381;
  }
  
  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline: 0px auto r;
    outline-offset: -1px;
  }
  
  /*--------------------------------------------------------------
  # 討論區
  --------------------------------------------------------------*/
  .content .wrapper {
    width: 95%;
  }
  
  @media(max-width:992px) {
    .wrapper {
      width: 100%;
    }
  }
  
  /*--------------------------------------------------------------
  # 結帳
  --------------------------------------------------------------*/
  
  
  h1, h2, h3, h4, h5, h6 {
    color: #3D4351;
    margin-top: 0;
  }
  
  a {
    color: #FF6B6B;
  }
  a:hover {
    color: #ff9a9a;
    text-decoration: none;
  }
  #order #example{
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  .example-header {
    background: #3D4351;
    color: #FFF;
    font-weight: 300;
    padding: 3em 1em;
    text-align: center;
  }
  .example-header h1 {
    color: #FFF;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .example-header p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
  }
  
  .container-fluid .row {
    padding: 0 0 4em 0;
  }
  .container-fluid .row:nth-child(even) {
    background: #F1F4F5;
  }
  
  .example-title {
    text-align: center;
    margin-bottom: 60px;
    padding: 3em 0;
    border-bottom: 1px solid #E4EAEC;
  }
  .example-title p {
    margin: 0 auto;
    font-size: 16px;
    max-width: 400px;
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/
  /* CSS variables */
  
  
  
  /* Add more CSS rules based on your SCSS variables */
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.103);
  }
  .portfolio-details {
    padding-top: 80px;
  }
  
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #E9C9D6;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #E9C9D6;
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(85, 98, 112, 0.08);
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info #subject ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info #subject ul li+li {
    margin-top: 15px;
  }
  
  
  /*** custom checkboxes ***/
  
  input[type=checkbox] { display:none; } /* to hide the checkbox itself */
  input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
  }
  
  input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
  input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */
  
  input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
  input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
  .table checkbox{
    transform: scale(2.5);
  }
  .has-search .form-control {
    padding-left: 2.375rem;
    margin-left: 40px;
    width: 900px;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  
  
  
  